extends layout

block content
	
	h1 #{content.title}
	
	.article
		p !{(content.content).replace(/\n/g , '<br/>')}

		h2 Address: -

		p No.232, Niteco Road , Tudun Wada , Minna Niger State

		h2 Contact : -

		p Telephone Number: - +2348099757823 , +23426531299 , +23463168971 
		p Email Address: - nitecocyberlinks@gmail.com