extends layout

block content
	h1 Error

	p
		if error.status == 404
			#{error.status} - The page you are looking for does not exist.
		else 
			#{error.status} - Internal or server error has occured.

