doctype html
html
	head
		title= content.title
		meta(name ='viewport' 		, content ='width=device-width , initial-scale=1.0')
		meta(name ='author'				,	content ='Niteco Cyber Links')
		meta(name ='description' ,	content ='Niteco Cyber Links offers services and the related in the discipline of Information Technology and Information Systems')
		link(rel='stylesheet'			, href='/stylesheets/style.css')
		link(rel ='stylesheets' 	 href ='/stylesheets/bootstrap.min.css')

  
	body

		.o-container
			.container
				.header
					.navbar
						ul
							li.nav-item
								a.nav-link(href='/') N.c.l
							li.nav-item
								a.nav-link(href='/about/') About
							li.nav-item
								a.nav-link(href='/contact/') Contact
							li.nav-item
								a.nav-link(href='/services/') Services

				
				.main
					block content

				.footer

					.note
						ul
							li
								b Opening Hours<br/>
								| Monday - Friday : 8:00am to 7:00pm<br/>
								| Saturday : 8:00am to 7:00pm<br/>
								| Sunday : 9:00am to 4:00pm
							
							li
								b Address : <br/>
								| No. 232 , Niteco Road , Tudun Wada , <br/>
								| Minna , Niger State.

							li
								b Contact : <br/>
								| Telephone Number  +2348099757823 , +23426531299 , +23463168971<br/>
								| Email Address : nitecocyberlinks@gmail.com or 

					ul
						li
							a(href ='/about') About Us
						| |
						li
							a(href ='/contact') Contact Us
						| |
						li
							a(href ='/privacy-policy') Privacy Policy
					p &copy; Niteco Cyber Links 2019 | All Rights Reserved. RC: 04048

