extends layout

block content

	.services
		h1 #{content.title}

		p The following is a list of facilities and services we do offer to customers and users

		h2 Computer Services

		ul
			li Typing and Printing
			li Graphic Design
			li Internet Services
			li Photostat and Binding
			li Lamination and Scanning
			li Online Registration
			li Stationeries

		h2 Printing Services

		ul
			li Wedding IV Card
			li Calendar & Poster
			li Banner (Flex) & Stickers
			li Jotter & Exercise Book
			li Flyers & Labels
			li Magazine & Photo Album

		h2 Professional Services

		ul
			li Cashless Service (POS)
			li Photo and Video Coverages
			li Training (Computer & Entreprenurial)
			li SIM Registration
			li General Supply
			li Maintenance Services
			li Flight Booking
			li Research & Documentation
			li Sales of Phones & Computer Accessories